<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Przeglądanie')"></head>
<body>
<div th:replace="layout :: nav"></div>
<div th:replace="layout :: flash"></div>
<div class="container">
    <div class="col s12" th:if="${#lists.isEmpty(clients)}"><h2>Brak klientów w bazie</h2></div>

    <div th:unless="${#lists.isEmpty(clients)}">
        <table class="highlight">
            <thead>
            <tr>
                <th data-field="id">Id</th>
                <th data-field="date">Data</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client : ${clients}">

                <td th:text="${client.id}">Id</td>

                <td th:text="${client.date}">Date</td>
                <td><a th:href="|@{/clients/}${client.id}|">Detale</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="layout :: scripts"></div>
</body>
</html>